
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
# ===================================== #
# FMOD                                  #
# ===================================== #
/GGJ2021_FMOD/Examples_Copy/.cache/
/GGJ2021_FMOD/Examples_Copy/.user/
/GGJ2021_FMOD/Examples_Copy/.unsaved/
